.shadow {
    box-shadow: 0 5px 10px rgb(190, 190, 190) !important;
}

#appName {
    /* font-family: 'Barrio', cursive; */
    /* font-family: 'Black Ops One', cursive; */
 /* font-family: 'Bungee Hairline', cursive; */
/* font-family: 'Chakra Petch', sans-serif; */
/* font-family: 'Chango', cursive; */
/* font-family: 'Cinzel Decorative', cursive; */
/* font-family: 'Cinzel', serif; */
/* font-family: 'Codystar', cursive; */
/* font-family: 'Diplomata', cursive; */
font-family: 'Julius Sans One', sans-serif;
/* font-family: 'Monofett', cursive; */
/* font-family: 'Montserrat Subrayada', sans-serif;  */

}
.navbar {
    border-bottom: 1px rgb(237, 237, 237) solid !important;
}
.nav-link{
font-family: 'Chango', cursive;
}